<div class="password-update-page">
  <div class="password-update-wrapper">
    <section class="branding">
      <h1 class="branding__title">Accura</h1>
      <p class="branding__subtitle">Gestión de Planillas y Cargas de Datos</p>
    </section>

    <section class="password-update-card">
      <header class="password-update-card__header">
        <h2>Actualiza tu contraseña</h2>
        <p>Por seguridad, debes crear una nueva contraseña antes de continuar.</p>
      </header>

      <form class="form" [formGroup]="passwordUpdateForm" (ngSubmit)="submit()" novalidate>
        <div class="form-stack">
          <app-password-field
            inputId="password"
            icon="pi pi-lock"
            label="Nueva contraseña"
            [control]="passwordUpdateForm.controls.newPassword"
          >
          </app-password-field>

          <app-password-field
            inputId="password"
            icon="pi pi-lock"
            label="Confirmar contraseña"
            [control]="passwordUpdateForm.controls.confirmPassword"
            errorMessage="Las contraseñas no coinciden."
          >
          </app-password-field>

          <app-button
            [label]="submitting() ? 'Actualizando...' : 'Actualizar contraseña'"
            type="submit"
            [loading]="submitting()"
            [disabled]="passwordUpdateForm.invalid || passwordUpdateForm.disabled || submitting()"
            [fluid]="true"
          >
          </app-button>
        </div>
      </form>

      @if (alert()) {
        <div>
          @if (alert()?.type === 'error') {
            <app-message-feedback
              [text]="alert()?.message!"
              severity="error"
              icon="pi pi-times-circle"
            />
          }

          @if (alert()?.type === 'success') {
            <app-message-feedback
              [text]="alert()?.message!"
              severity="success"
              icon="pi pi-check-circle"
            />
          }
        </div>
      }

      <div style="text-align: end; margin-top: 0.5rem">
        <a class="link-primary" routerLink="/login">
          <i class="pi pi-chevron-left"></i> Volver al inicio de sesión
        </a>
      </div>
    </section>
  </div>
</div>
