<section class="page-header">
  <div>
    <p class="page-header__pretitle">Gestión de Permisos</p>
    <h1 class="page-header__title">Controla el acceso a las plantillas</h1>
    <p class="page-header__subtitle">
      Define qué usuarios pueden visualizar las plantillas disponibles y realizar la carga de datos
      en cada una.
    </p>
  </div>
</section>

<div class="card">
  <app-page-actions
    [showCreate]="false"
    [showEdit]="false"
    [showDelete]="false"
    [showExtraAction]="true"
    [disableExtraAction]="isManageAccessDisabled"
    extraActionIcon="pi pi-cog"
    extraActionLabel="Gestionar"
    (extraAction)="onManageAccess()"
  ></app-page-actions>

  <app-data-table
    [columns]="columns"
    [value]="users"
    [selection]="selectedUser"
    [loading]="isTableLoading()"
    (rowSelect)="onRowSelect($event)"
    (rowUnselect)="onRowUnselect()"
  ></app-data-table>
</div>


<app-permission-form-dialog
  [(visible)]="permissionDialogVisible"
  [data]="permissionDialogData"
  [loading]="permissionDialogLoading"
  (cancelDialog)="closePermissionDialog()"
  (accessUpdated)="reloadPermissionDialogData()"
/>

<!-- <table class="permissions-table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Plantillas Asignadas</th>
      <th>Última Actualización</th>
      <th class="permissions-table__actions-column">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of paginatedUsers; trackBy: trackByUserId">
      <td>
        <div class="permissions-table__identity">
          <span class="permissions-table__avatar" aria-hidden="true">
            {{ getInitials(user.name) }}
          </span>
          <div>
            <p class="permissions-table__name">{{ user.name }}</p>
            <p class="permissions-table__email">{{ user.email }}</p>
          </div>
        </div>
      </td>
      <td>
        <ng-container *ngIf="user.templates as assigned">
          <ng-container *ngIf="assigned.length; else noTemplates">
            <div class="permissions-table__templates">
              <span
                class="template-chip"
                *ngFor="let template of getVisibleTemplates(user); trackBy: trackByTemplateId"
              >
                <span class="template-chip__name">{{ template.name }}</span>
              </span>
              <span
                class="template-chip template-chip--counter"
                *ngIf="getRemainingCount(user) > 0"
              >
                +{{ getRemainingCount(user) }} más
              </span>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #noTemplates>
          <span class="permissions-table__empty">Sin acceso</span>
        </ng-template>
      </td>
      <td>
        <span class="permissions-table__date">{{ user.lastUpdated }}</span>
      </td>
      <td class="permissions-table__actions-column">
        <button type="button" class="permissions-table__manage" (click)="openManageDialog(user)">
          Gestionar
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
