<div class="forgot-password-page">
  <div class="forgot-password-wrapper">
    <section class="branding">
      <h1 class="branding__title">Accura</h1>
      <p class="branding__subtitle">Gestión de Planillas y Cargas de Datos</p>
    </section>

    <section class="forgot-password-card">
      <header class="forgot-password-card__header">
        <h2>Recuperar contraseña</h2>
        <p>
          Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu
          contraseña.
        </p>
      </header>

      <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <div class="form-stack">
          <app-text-field
            inputId="email"
            type="email"
            icon="pi pi-envelope"
            label="Correo electrónico"
            [control]="forgotPasswordForm.controls.email"
            autocomplete="on"
            errorMessage="Ingresa un correo electrónico válido."
          >
          </app-text-field>

          <app-button
            label="Enviar código"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || submitting()"
            [fluid]="true"
          >
          </app-button>
        </div>

        <!-- <button class="submit" type="submit" [disabled]="forgotPasswordForm.invalid || submitting()">
          <span *ngIf="!submitting(); else loading">Enviar instrucciones</span>
          <ng-template #loading>
            <span class="spinner" aria-hidden="true"></span>
            <span>Enviando...</span>
          </ng-template>
        </button> -->
      </form>

      @if (alert()) {
        <div>
          @if (alert()?.type === 'error') {
            <app-message-feedback
              [text]="alert()?.message!"
              severity="error"
              icon="pi pi-times-circle"
            />
          }

          @if (alert()?.type === 'success') {
            <app-message-feedback
              [text]="alert()?.message!"
              severity="success"
              icon="pi pi-check-circle"
            />
          }
        </div>
      }

      <div style="text-align: end; margin-top: 0.5rem;">
        <a class="link-primary" routerLink="/login">
          <i class="pi pi-chevron-left"></i> Volver al inicio de sesión
        </a>
      </div>
    </section>
  </div>
</div>
