.dialog__title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.dialog__description {
  margin: 0.5rem 0 0;
  color: var(--p-text-muted-color);
  font-size: 0.95rem;
  line-height: 1.5;
}

.session-expired-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.session-expired-dialog__alert {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.session-expired-dialog__status {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px dashed var(--p-primary-300);
  background-color: var(--p-primary-100);

  i{
    font-size: 2rem;
    color: var(--p-primary-color);
  }
}

.session-expired-dialog__status-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    margin: 0;
    color: var(--p-surface-700);
  }

  span {
    font-size: 1.1rem;
    font-weight: var(--font-weight-semibold);
    color: var(--p-surface-900);
  }
}
