<div class="flex flex-col gap-1">
  @if (label) {
    <p-floatlabel variant="on">
      @if (hasIcon) {
        <p-iconfield [iconPosition]="iconPosition" [ngClass]="{ 'invalid-field': showError }">
          <p-inputicon [class]="icon"></p-inputicon>

          <input
            pInputText
            [id]="computedInputId"
            [type]="type"
            [formControl]="control"
            [required]="required"
            [readonly]="readonly"
            [disabled]="disabled"
            [autocomplete]="autocomplete"
            [fluid]="fluid"
            [invalid]="showError"
          />
        </p-iconfield>
      } @else {
        <input
          pInputText
          [id]="computedInputId"
          [type]="type"
          [formControl]="control"
          [required]="required"
          [readonly]="readonly"
          [disabled]="disabled"
          [autocomplete]="autocomplete"
          [fluid]="fluid"
          [invalid]="showError"
        />
      }

      <label [for]="computedInputId">
        {{ label }}
      </label>
    </p-floatlabel>
  }

  @if (!label) {
    @if (hasIcon) {
      <p-iconfield [iconPosition]="iconPosition">
        <p-inputicon [class]="icon"></p-inputicon>

        <input
          pInputText
          [id]="computedInputId"
          [type]="type"
          [formControl]="control"
          [placeholder]="placeholder"
          [required]="required"
          [readonly]="readonly"
          [disabled]="disabled"
          [autocomplete]="autocomplete"
          [fluid]="fluid"
          [invalid]="showError"
        />
      </p-iconfield>
    } @else {
      <input
        pInputText
        [id]="computedInputId"
        [type]="type"
        [formControl]="control"
        [placeholder]="placeholder"
        [required]="required"
        [readonly]="readonly"
        [disabled]="disabled"
        [autocomplete]="autocomplete"
        [fluid]="fluid"
        [invalid]="showError"
      />
    }
  }

  @if (showError) {
    <p-message severity="error" variant="simple" size="small" styleClass="field-error-message">
      {{ errorText }}
    </p-message>
  }
</div>
