<div class="flex flex-col gap-1">
  @if (label) {
    <p-floatlabel variant="on">
      <p-password
        [inputId]="computedInputId"
        [formControl]="control"
        [required]="required"
        [disabled]="disabled"
        [autocomplete]="autocomplete"
        [toggleMask]="toggleMask"
        [feedback]="feedback"
        [showClear]="showClear"
        [fluid]="fluid"
        [invalid]="showError">
      </p-password>
      <label [for]="computedInputId">{{ label }}</label>
    </p-floatlabel>
  } @else {
    <p-password
      [inputId]="computedInputId"
      [formControl]="control"
      [required]="required"
      [disabled]="disabled"
      [autocomplete]="autocomplete"
      [toggleMask]="toggleMask"
      [feedback]="feedback"
      [showClear]="showClear"
      [fluid]="fluid"
      [invalid]="showError">
    </p-password>
  }

  @if (showError) {
    <p-message severity="error" variant="simple" size="small" styleClass="field-error-message">
      {{ errorText }}
    </p-message>
  }
</div>