<div class="flex flex-col gap-1">
  @if (label) {
    <p-floatlabel variant="on">
      @if (showLeftIcon || showCustomRightIcon) {
        <p-iconfield [iconPosition]="iconPosition" [ngClass]="{ 'invalid-field': showError }">
          <p-inputicon [class]="icon"></p-inputicon>

          <p-password
            [inputId]="computedInputId"
            [formControl]="control"
            [required]="required"
            [disabled]="disabled"
            [autocomplete]="autocomplete"
            [toggleMask]="toggleMask"
            [feedback]="feedback"
            [showClear]="showClear"
            [fluid]="fluid"
            [invalid]="showError">
          </p-password>
        </p-iconfield>
      } @else {
        <p-password
          [inputId]="computedInputId"
          [formControl]="control"
          [required]="required"
          [disabled]="disabled"
          [autocomplete]="autocomplete"
          [toggleMask]="toggleMask"
          [feedback]="feedback"
          [showClear]="showClear"
          [fluid]="fluid"
          [invalid]="showError">
        </p-password>
      }

      <label [for]="computedInputId">{{ label }}</label>
    </p-floatlabel>
  } @else {
    @if (showLeftIcon || showCustomRightIcon) {
      <p-iconfield [iconPosition]="iconPosition" styleClass="app-password-icon-field">
        <p-inputicon [class]="icon"></p-inputicon>

        <p-password
          [inputId]="computedInputId"
          [formControl]="control"
          [required]="required"
          [disabled]="disabled"
          [autocomplete]="autocomplete"
          [toggleMask]="toggleMask"
          [feedback]="feedback"
          [showClear]="showClear"
          [fluid]="fluid"
          [invalid]="showError">
        </p-password>
      </p-iconfield>
    } @else {
      <p-password
        [inputId]="computedInputId"
        [formControl]="control"
        [required]="required"
        [disabled]="disabled"
        [autocomplete]="autocomplete"
        [toggleMask]="toggleMask"
        [feedback]="feedback"
        [showClear]="showClear"
        [fluid]="fluid"
        [invalid]="showError">
      </p-password>
    }
  }

  @if (showError) {
    <p-message severity="error" variant="simple" size="small" styleClass="field-error-message">
      {{ errorText }}
    </p-message>
  }
</div>