<div class="rule-table-editor__toolbar">
  <app-button
    label="Descargar plantilla"
    icon="pi pi-download"
    variant="secondary"
    [outlined]="true"
    type="button"
    [disabled]="!columns.length"
    (clicked)="downloadTemplate()"
  ></app-button>

  <input #fileInput type="file" accept=".xlsx,.xls" hidden (change)="onFileSelected($event)" />

  <app-button
    label="Importar desde Excel"
    icon="pi pi-upload"
    variant="primary"
    [outlined]="true"
    type="button"
    [loading]="isImporting"
    [disabled]="!columns.length"
    (clicked)="fileInput.click()"
  ></app-button>
</div>

<div class="rule-table-editor__wrapper">
  <p-table [value]="rows" scrollable="true" scrollHeight="300px">
    <ng-template pTemplate="header">
      <tr>
        @for (column of columns; track column) {
          <th style="padding: 0.2rem;">{{ column }}</th>
        }
        <th style="text-align: center; width: 80px">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        @for (column of columns; track column) {
          <td style="padding: 0.2rem;">{{ row[column] }}</td>
        }

        <td style="text-align: center; padding: 0.2rem;">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="removeRow(rowIndex)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        @for (column of columns; track column) {
          <td style="padding: 0.2rem;">
            <input
              pInputText
              type="text"
              [(ngModel)]="draftRow[column]"
              [placeholder]="'Agregar ' + column.toLowerCase()"
              (keyup.enter)="addRow()"
              [fluid]="true"
            />
          </td>
        }

        <td>
          <app-button
            label="Agregar"
            type="button"
            [disabled]="!canAddRow"
            (clicked)="addRow()"
          ></app-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
