.table-search {
  display: flex;
  justify-content: end;
  // margin-bottom: 1rem;
  // text-align: right;
}

.table-search input {
  // width: 200px;
}

.p-datatable-header {
  background-color: #f7f7f7;
}