.form {
  padding-top: 0.5rem;

  .form-body {
    max-height: 40vh;
    overflow-y: auto;
  }

  .form-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-section__header {
  h4 {
    margin: 0;
  }
}

.form-section__body {
  &.form-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    align-items: baseline;

    .checkbox-wrapper {
      align-self: start;
      padding-top: 0.65rem;
    }
  }

  .form-grid__full {
    grid-column: 1 / -1;
  }
}
