:host {
  display: grid;
  gap: 2.75rem;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;

  .stats-card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;

    .stats-card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
        font-weight: var(--font-weight-semibold);
        font-size: 1.125rem;
        color: var(--p-primary-color);
      }

      i{
        font-size: 1.25rem;
        color: var(--p-primary-color);
      }
    }

    .stats-card__body {
      color: var(--p-surface-600);

      strong {
        font-size: 2.25rem;
        color: var(--p-surface-900);
      }
    }
  }
}
